.p {
    text-indent: 500px
}

.ingredient_nav_container{
    margin: 0px 150px;
}
.ingredient-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 75%;
    padding: 0px;
    margin: 0px;
}

.ingredient-page-title{
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
    color: rgb(68, 68, 68);
    margin-bottom: 0px;
    height: 200px;
}
/* .ingredient-image{
    width: 200px;
    height: 200px;
} */

.ingredient-description-container{
    font-family: 'Roboto';
    font-size: 18px;
    color: rgb(68, 68, 68);
    text-indent: 15px;
    display: flex;
    flex-direction: column;
}


.edit-delete-ingredient-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%

}

.edit-ingredient-button{
    border: none;
    background-color: #c5ab14;
    color: white;
}

.delete-ingredient-button{
    border: none;
    background-color: #c51414;
    color: white
}