.p {
    text-indent: 500px
}

.ingredient_nav_container{
    margin: 0px 150px;
}
.ingredient-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 75%;
    padding: 0px;
    margin: 0px;
}

/* .ingredient-image{
    width: 200px;
    height: 200px;
} */

.ingredient-instructions-div {
    text-indent: 50%
}

.edit-delete-ingredient-container{
    display: flex;
    justify-content: space-AROUND;
    align-items: center;
    width: 75%

}

.edit-ingredient-button{
    border: none;
    background-color: #c5ab14;
    color: white;
}

.delete-ingredient-button{
    border: none;
    background-color: #c51414;
    color: white
}