.p {
    text-indent: 500px
}

.drink_nav_container{
    margin: 0px 150px;
}
.drink-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 75%;
    padding: 0px;
    margin: 0px;
}

.drink-ingredients-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 75%;
    padding: 0px;
    margin: 0px;

}

.drink-instructions-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 75%;
    padding: 0px;
    margin: 0px;
}
.drink-instructions {
    text-indent: 15px;
}

.edit-delete-drink-container{
    display: flex;
    justify-content: space-AROUND;
    align-items: center;
    width: 75%

}

.edit-drink-button{
    border: none;
    background-color: #c5ab14;
    color: white;
}

.delete-drink-button{
    border: none;
    background-color: #c51414;
    color: white
}