/* h1 {
    color: rgb(68, 68, 68);
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
} */

.ingredient_category_nav img {
    width: 50px;
    height: auto;
/*     
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap; */

}

.ingredient_category_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 25px 0px 25px;
    padding-left: 15px;
    padding-right:15px;
    color: rgb(68, 68, 68);
    font-family: 'Roboto', sans-serif;
}

.ingredients-header{
    /* margin-top: 0px; */
    font-family: 'Yellowtail', cursive;
}

.ingredient_category_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0px 32px 96px 32px;
}

.ingredient_category_nav a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-family: 'Roboto', sans-serif;
    width: 150px;
    height: auto;
    margin: 0px 48px 48px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .category_nav_container{
    margin: 0px 124.5px 0px 124.5px;
} */

/* .category_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 25px 0px 25px;
    padding-left: 15px;
    padding-right:15px;
    color: rgb(68, 68, 68);
    font-family: 'Roboto', sans-serif;
} */

.ingredient_category_header h1 {
    color: rgb(68, 68, 68);
    font-family: 'Yellowtail', cursive;
    font-size: 80px;
    display: flex;
    margin-bottom: 0px;
}

.category_header p{
    font-size: 16px;
}


.category_nav img{
    width: autopx;
    height: 150px;
}

.ingredient_category_nav h4{
    text-align: center;
    color: rgb(68, 68, 68);
    font-family: 'Roboto', sans-serif;
}

.ingredient_a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

}


.ingredient_category_header h1 {
    color: rgb(68, 68, 68);
    font-family: 'Yellowtail', cursive;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}